.slides {
    font-size: 28px;
}

#slideContainer > section {
    justify-content: flex-start !important;
    align-items: flex-start;
}

#slideContainer h1,
#slideContainer h2,
#slideContainer h3,
#slideContainer h4,
#slideContainer h5,
#slideContainer h6,
#slideContainer p,
#slideContainer img,
#slideContainer ul,
#slideContainer li,
#slideContainer ol,
#slideContainer div,
#slideContainer footer {
    margin-left: 0;
    padding: 0;
    text-transform: none;
}


.title {
    top: 0;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    margin: 0;
}

.title p {
    font-size: 42px;
}

.logo {
    height: 80px;
    float: right;
    display: flex;
    align-items: center;
}

.logo img {
    margin: 0;
}

footer {
    width: 100%;
    height: 10%;
    font-size: 22px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-container ul,
.content-container ol {
    padding-left: 20px !important;
}

.slides section:not(.cover) .content-container .content-wrapper {
    min-height: 0;
    padding: 10px;
    width: 100%;
    height: 95%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slides section:not(.cover) .content-container .content-wrapper .content {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-content-image .content-container .content-wrapper .content {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.title-content-image .content-container .content-wrapper .content > p:has(img){
    height: 100%;
    width: 50%;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cover .content-container {
    justify-content: flex-start;
    align-items: center;
}

.cover .content-container .logo {
    height: 40%;
    padding: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container .image-wrapper {
    max-width: 100%;
    max-height: 100px;
    padding: 5px;
}

.image-container .image-wrapper > img {
    height: auto;
    width: auto;
    display: block;
    margin: 0;
}

.title-content-image .content-container .content-wrapper .content {
    position: relative;
    width: 100%;
}



.title-content-image .content-container .content-wrapper .content > ul,
.title-content-image .content-container .content-wrapper .content > ol,
.title-content-image .content-container .content-wrapper .content > p,
.title-content-image .content-container .content-wrapper .content > table {
    width: 50%;
}

.title-content-image .content-container .content-wrapper .content .image-container {
    height: 100%;
    width: 50%;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.title-content-image .content-container .content-wrapper .content .image-container img {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 80vh;
}

.about-us-text {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.info-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    gap: 30px;
    margin-top: 30px;
}

.info-box {
    padding: 10px 20px;
}

.info-box h3 {
    margin: 10px 0;
}

.divider {
    width: 2px;
    background-color: #000000;
    opacity: 0.5;
    align-self: stretch;
}

.about-us .content-container .content-wrapper {
    justify-content: center;
}

.info-section .divider:last-child {
    display: none;
}
