name: Build and Push Docker Image

on:
  push:
    tags: [ "*" ]
  release:
    types: [ published ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        server: [opencloud, ocis]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract Docker metadata (${{ matrix.server }})
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: jankaritech/mdpresentation-viewer-${{ matrix.server }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker Image (${{ matrix.server }})
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            server=${{ matrix.server }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
